profiles {
  standard {
    includeConfig 'conf/biohpc.config'
  }
}

trace {
  enabled = true
  file = 'pipeline_trace.txt'
  fields = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime,%cpu,%mem,rss'
}

timeline {
  enabled = true
  file = 'timeline.html'
}

report {
  enabled = true
  file = 'report.html'
}


manifest {
  name = 'CutNRun'
  description = 'BICF Cut-N-Run Analysis Workflow.'
  homePage = 'https://github.com/JAMKuttan/CutNRun'
  version = '1.0.0'
  mainScript = 'main.nf'
  nextflowVersion = '>=0.31.0'
}
