process {
  executor = 'slurm'
  queue = 'super'
  clusterOptions = '--hold'
  beforeScript= 'ulimit -Ss unlimited'

  // Process specific configuration
  withName: checkDesignFile {
    module = ['python/3.6.1-2-anaconda']
    executor = 'local'
  }
  withName: trimReads {
    module = ['python/3.6.1-2-anaconda', 'trimgalore/0.4.1']
    cpus = 32
  }
  withName: alignReads{
    module = ['python/3.6.1-2-anaconda', 'bwa/intel/0.7.12', 'samtools/1.6']
    queue = '128GB,256GB,256GBv1'
  }
  withName: filterReads{
    module = ['python/3.6.1-2-anaconda', 'samtools/1.6', 'sambamba/0.6.6', 'bedtools/2.26.0']
    queue = '128GB,256GB,256GBv1'
  }
  withName: experimentQC {
    module = ['python/3.6.1-2-anaconda', 'deeptools/2.5.0.1']
    queue = '128GB,256GB,256GBv1'
  }
  withName: convertReads {
    module = ['python/3.6.1-2-anaconda',  'samtools/1.6', 'bedtools/2.26.0']
    queue = '128GB,256GB,256GBv1'
  }
  withName: crossReads {
    module = ['python/3.6.1-2-anaconda', 'phantompeakqualtools/1.2']
    cpus = 32
  }
  withName: defineExpDesignFiles {
    module = ['python/3.6.1-2-anaconda']
    executor = 'local'
  }
  withName: poolAndPsuedoReads {
    module = ['python/3.6.1-2-anaconda']
    executor = 'local'
  }
  withName: callPeaksMACS {
    module = ['python/3.6.1-2-anaconda', 'macs/2.1.0-20151222', 'UCSC_userApps/v317', 'bedtools/2.26.0', 'phantompeakqualtools/1.2']
    queue = '128GB,256GB,256GBv1'
  }
  withName: plotProfile {
    module = ['deeptools/2.5.0.1']
    cpus = 32
  }
  withName: consensusPeaks {
    module = ['python/3.6.1-2-anaconda', 'bedtools/2.26.0']
    executor = 'local'
  }
  withName: peakAnnotation {
    module = ['R/3.3.2-gccmkl']
    executor = 'local'
  }
  withName: diffPeaks {
    module = ['R/3.3.2-gccmkl']
    cpus = 32
  }
  withName: motifSearch {
    module = ['python/3.6.1-2-anaconda', 'meme/4.11.1-gcc-openmpi', 'bedtools/2.26.0']
    cpus = 32
  }
  withName: multiqcReport {
    module = ['python/3.6.1-2-anaconda', 'pandoc/2.7', 'singularity/3.0.2']
    executor = 'local'
  }
}

params {
  // Reference file paths on BioHPC
  genomes {
    'GRCh38' {
      bwa = '/project/shared/bicf_workflow_ref/human/GRCh38'
      genomesize = 'hs'
      chromsizes = '/project/shared/bicf_workflow_ref/human/GRCh38/genomefile.txt'
      fasta = '/project/shared/bicf_workflow_ref/human/GRCh38/genome.fa'
      gtf = '/project/shared/bicf_workflow_ref/human/GRCh38/gencode.v25.chr_patch_hapl_scaff.annotation.gtf'
      geneNames = '/project/shared/bicf_workflow_ref/human/GRCh38/genenames.txt'
    }
    'GRCh37' {
      bwa = '/project/shared/bicf_workflow_ref/human/GRCh37'
      genomesize = 'hs'
      chromsizes = '/project/shared/bicf_workflow_ref/human/GRCh37/genomefile.txt'
      fasta = '/project/shared/bicf_workflow_ref/human/GRCh37/genome.fa'
      gtf = '/project/shared/bicf_workflow_ref/human/GRCh37/gencode.v19.chr_patch_hapl_scaff.annotation.gtf'
      geneNames = '/project/shared/bicf_workflow_ref/human/GRCh37/genenames.txt'
    }
    'GRCm38' {
      bwa = '/project/shared/bicf_workflow_ref/mouse/GRCm38'
      genomesize = 'mm'
      chromsizes = '/project/shared/bicf_workflow_ref/mouse/GRCm38/genomefile.txt'
      fasta = '/project/shared/bicf_workflow_ref/mouse/GRCm38/genome.fa'
      gtf = '/project/shared/bicf_workflow_ref/mouse/GRCm38/gencode.vM20.annotation.gtf'
      geneNames = '/project/shared/bicf_workflow_ref/mouse/GRCm38/genenames.txt'
    }
  }
}

trace {
  enabled = true
  file = 'pipeline_trace.txt'
  fields = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime,%cpu,%mem,rss'
}

timeline {
  enabled = true
  file = 'timeline.html'
}

report {
  enabled = true
  file = 'report.html'
}
